broker = {
	"hostname": "HOSTNAME_OF_YOUR_MQTT_BROKER",
	"port": 1883,
	"user": "MQTT_USERNAME",
	"password": "MQTT_PASSWORD"
}

topic_prefix = "mumalab/room/lights/"

devices = { 
	"hanging_lights": { "type": "rcswitch", "address": ["A", "1"] },
	"whiteboard": { "type": "rcswitch", "address": ["A", "2"] }
}

node_name = "mumabus_light01"

rcswitch_path = "/home/severin/dev/rcswitch-pi/send"
